.call-page {
    height: 100vh;
}

.call-videos {
    position: relative;
}

.call-videos video {
    width: 45%;
    margin: 0 1%;
    background-color: black;
}

.video-element {
    width: 45%;
    margin: 0 1%;
    background-color: black;
}

.video-element.local {
    width: 25%;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border: 2px solid var(--color-primary);
}

.call-controls button {
    width: 120px;
}